@charset "UTF-8";

@media screen and (min-width: 1200px) {
  .navLinkIcon {
    display: none !important;
  }
}
@media screen and (min-width: 1350px) {
  .navLinkIcon {
    display: inline !important;
  }
}
