@charset "UTF-8";
@import '_colors';
@import '_fonts';

.page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #eee;
}
.extraspace {
  margin-bottom: 50px;
}

.segment-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid transparent;
}

.row {
  @media(max-width: 767px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

