// Common
$separator: #eee;
$placeholder: #aaa;

// Applications
$borderSecondary: #6c757d;
$formBackground: rgba(0, 0, 0, .03);
$announcementBackground: rgba(255, 247, 188, 1);

// Header
$headerLight: #666;
$headerDark: #000;
$headerButtonDark: #666;
$headerButtonDarkHover: #000;

// Sponsors
$sponsorsBackground: #f9f9f9;

// Conferences
$conferencesBackground: #fff;
$conferencesText: #666;

// Tables
$tableHeader: #DDD;
$tableCell: #EFEFEF;
